<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head"></head>
<body>
    <header th:replace="fragments/header :: body"></header>
    <div class="hero">
        <h1>WELCOME.</h1>
        <p style="font-family: Cascadia Code;">We use our own AI model to calculate a project's viability.</p>
        <div class="card mt-5">
            <h5>Overall Project Success Rate</h5>
            <canvas id="overallSuccessChart"></canvas>
        </div>
    </div>

    <script th:src="@{/JS/script.js}"></script>

    <footer th:replace="fragments/footer :: footer"></header>

</body>
</html>
